@use '@angular/material' as mat;

:root {
  --divine-black-200: rgb(0 0 0 / 0.2);
  --divine-black-750: rgb(0 0 0 / 0.75);
  --divine-blue: rgb(99 102 241 / 1);
  --divine-dark-purple: rgb(21 13 25 / 1);
  --divine-off-white: rgb(203 213 225 / 1);
  --divine-purple: rgb(168 85 247 / 1);
  --divine-purple-050: rgb(168 85 247 / 0.05);
  --divine-purple-100: rgb(168 85 247 / 0.1);
  --divine-purple-200: rgb(168 85 247 / 0.2);
  --divine-purple-300: rgb(168 85 247 / 0.3);
  --divine-purple-400: rgb(168 85 247 / 0.4);
  --divine-purple-500: rgb(168 85 247 / 0.5);
  --divine-purple-625: rgb(168 85 247 / 0.625);
  --divine-purple-750: rgb(168 85 247 / 0.75);
  --divine-radius: 0.75rem;
  --divine-white: rgb(255 255 255 / 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include mat.theme(
    (
      density: 0,
      typography: Roboto,
    )
  );

  @include mat.form-field-overrides(
    (
      outlined-container-shape: var(--divine-radius),
      outlined-focus-label-text-color: var(--divine-off-white),
      outlined-focus-outline-color: var(--divine-purple-750),
      outlined-hover-label-text-color: var(--divine-off-white),
      outlined-hover-outline-color: var(--divine-purple-625),
      outlined-input-text-color: var(--divine-off-white),
      outlined-label-text-color: var(--divine-off-white),
      outlined-outline-color: var(--divine-purple-500),
      trailing-icon-color: var(--divine-purple-500),
    )
  );

  @include mat.select-overrides(
    (
      enabled-arrow-color: var(--divine-purple-500),
      enabled-trigger-text-color: var(--divine-off-white),
      focused-arrow-color: var(--divine-purple-500),
      panel-background-color: var(--divine-dark-purple),
    )
  );

  @include mat.option-overrides(
    (
      hover-state-layer-color: var(--divine-purple-100),
      label-text-color: var(--divine-off-white),
    )
  );

  @include mat.dialog-overrides(
    (
      subhead-color: var(--divine-white),
    )
  );

  @include mat.fab-overrides(
    (
      container-color: var(--divine-purple-050),
      container-shape: var(--divine-radius),
      extended-container-height: 3rem,
      extended-container-shape: var(--divine-radius),
      extended-label-text-size: 1rem,
      foreground-color: var(--divine-off-white),
      hover-state-layer-opacity: 1,
      ripple-color: var(--divine-purple-500),
      state-layer-color: var(--divine-purple-200),
    )
  );

  @include mat.tooltip-overrides(
    (
      container-color: var(--divine-purple-500),
    )
  );

  .mat-mdc-fab,
  .mat-mdc-extended-fab {
    border: 1px solid var(--divine-purple-500);

    &:hover {
      border-color: var(--divine-purple);
    }
  }

  .mat-mdc-dialog-surface {
    background-image: linear-gradient(to bottom right, rgb(109 25 170 / 1), rgb(18 16 83 / 1));
    border: 1px solid var(--divine-purple-750);
  }

  .mdc-text-field--outlined {
    background-color: var(--divine-purple-050);
    border-radius: var(--divine-radius);
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--divine-dark-purple);
  color: var(--divine-off-white);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 4rem 1rem 1rem;

  @media (min-width: 900px) {
    padding: 1rem;
  }
}

a {
  color: var(--divine-off-white);
  text-decoration: none;

  &:hover {
    color: var(--divine-purple);
  }
}
